
.carousel-item {
	max-height: 750px;
}

h2{
	display: flex;
	justify-content: center;
}

body {
	background-color: lightgrey;
}

p{
	display: flex;
	margin-right: 20px;
	margin-left: 20px;
}

.card {
	background-color: :#FFDDE1;
}